.emoji_picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
 }
 .selected_emoji {
    font-size: 5rem;
 }
 .emoji_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f2f2;
    padding: 16px;
    font-size: 3rem;
    margin-top: 1rem;
 }
 .emoji_item {
    padding: 8px;
    cursor: pointer;
 }