.slide_content, .slide_contentx {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

.slide_content:hover img, .slide_content:hover svg {
  filter: invert(100%);
}

.slide_content:hover {
  color: white;
}
