
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
    height: 56px;
    z-index: 50;
    /* background-color: var(--header-bg); */
}

.nav_item {
    width: 48px;
    height: 48px;
    border: none;
   background-color: transparent;
   cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item:hover {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: #d0d0d086;
   
}

.pi_content {
    position: relative;
    width: max-content;
    height: 48px;
    cursor: crosshair;
}

.pi_cont1 {
    position: absolute;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    top: 8px;
    left: -13px;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .5s ease-in-out;

}

.pi_cont2 {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.pi_content:hover .pi_cont1 {
    opacity: 1;
}

.pi_content:hover .pi_cont2 {
    opacity: 0;
}
