
.navbar {
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    padding: 5px 16px;
    /* height: 56px; */
    z-index: 50;
    /* background-color: var(--header-bg); */
}

.nav_item {
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item:active {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #d0d0d086;
}
