/* LANGUAGE MODEL STYLES */
.lang_container {
    width: 158px;
    overflow: auto;
    /* -webkit-overflow-scrolling: touch;
    box-sizing: border-box; */
    outline: 0;
    padding: 10px 16px;
    border-radius: 4px;
    position: absolute;
    right: 16px;
    top: 52px;
    /* will-change: transform, opacity; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.lang_section {
    /* background-color: #f0f0f0; */
    display: flex;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}

.lang_section:hover {
    background-color: #e8e8e8ba !important;
}

.lan_img_con {
    border-right: 1px solid black;
    padding: 0.2rem;
    padding-right: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
}

.lang_cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: transparent;
}