.model_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 550;
}
  
.model_body {
  position: relative;
  width: 300px;
  max-width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #0003;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 600;
  cursor: crosshair;
}

.model_event {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
}

.logo {
  position: relative;
  width: 150px;
  height: 150px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  background-color: #1d724b;
  padding: 5px 10px;
  border-bottom: 3px solid #ffc153;
  color: #ffc153;
  text-align: center;
}

.version {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.social_media {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(to right, var(--default-bg-color), #eaeaea);
  text-align: center;
  font-family: var(--font-family-main);
  border-top: 1px solid #dcdcdc;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.social_media__links {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;

}

.social_media__link,
.social_media__icon {
  padding: 2px; /* Increases the touchable area */
  margin: 0 4px; /* Adjusts spacing around links */
}

.social_media__link {
  position: relative;
  width: 25px;
  height: 25px;
}

.defects_contact {
    padding-top: 25px;
    text-align: center;
}

.defects_contact span, .defects_contact a {
    font-size: 13px;
    color: #ff0000;
}
